{% macro page_info(page) %}
<div class="article-info">
	{% if page.date %}
	<div class="article-date">{{ page.date | date(format=config.extra.anpu_date_format) }}</div>
	{% endif %}
	<div class="article-taxonomies">
		{% if page.taxonomies.categories %}
		<ul class="article-categories">
			{% for cat in page.taxonomies.categories %}
			<li><a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if page.taxonomies.tags %}
		<ul class="article-tags">
			{% for tag in page.taxonomies.tags %}
			<li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endmacro page_info %}

{% macro page_listing(page) %}
<li class="post-list">
	<a href="{{ page.permalink }}">{{ page.title }}</a>
</li>
{% endmacro page_listing %}

