{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="no-referrer-when-downgrade">

	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<meta name="description" content="{{ config.description }}">

	<link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) }}">

	{% block extra_head %}
	{% endblock extra_head %}
</head>
<body>
	<main class="flex">
		<nav class="px-2 fixed" style="width:20rem;">
			<h1 class="text-3xl bold">
				<a href="{{ config.base_url }}" class="no-underline">{{ config.title }}</a>
			</h1>

			{% set section = get_section(path="_index.md") %}
			{% for page in section.pages %}
				{{ page_macros::page_listing(page=page) }}
			{% endfor %}
		</nav>
		<main class="px-6 pt-4 pb-6" style="margin-left:20rem;">
			{% block content %}
				Welcome, this is a little collection of useful patterns for Elm.
			{% endblock content %}
		</main>
	</main>
</body>
</html>
