{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="no-referrer-when-downgrade">

	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<meta name="description" content="{{ config.description }}">

	<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

	{% block extra_head %}
	{% endblock extra_head %}
</head>
<body>
	<header>
		<h1 class="site-header">
			<a href="{{ config.base_url }}">{{ config.title }}</a>
		</h1>
	</header>
	<main>
		<nav>
			{% set section = get_section(path="_index.md") %}
			{% for page in section.pages %}
				{{ page_macros::page_listing(page=page) }}
			{% endfor %}

			{% block sidebar_nav %}
			{% endblock sidebar_nav %}
		</nav>
		<div>
		<main id="main" tabindex="-1">
			{% block content %}
				Welcome
			{% endblock content %}
		</div>
	</main>
		<footer>
			<p>
				© {{ config.title }} {{ now() | date(format="%Y") }}<br>
			</p>
			<p>
				{% block footer %}
				{% endblock footer %}
			</p>
		</footer>
	</div>
</body>
</html>
