@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

p, pre {
	margin-bottom: 1rem;
}

pre {
	padding: 1rem;
}

a {
	text-decoration: underline;
}
